.header-area {
    padding: 25px;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 99;
    transition: 0.3s;

    .header {
        display: grid;
        grid-template-columns: 10% 70% 10%;
        column-gap: 5%;
        align-items: center;
        color: #fff;

        // .logo {
        //     a {
        //         img {
        //             width: auto;
        //         }
        //     }
        // }

        .menu {
            ul {
                display: flex;
                justify-content: center;

                li {
                    a {
                        margin-left: 20px;
                        text-transform: capitalize;
                        font-size: 18px;
                        transition: 0.3s;
                        color: #fff;
                        transition: 0.3s;

                        &:hover {
                            color: #312f2f;
                        }
                    }
                }
            }
        }

        .logo {
            ul {
                display: flex;
                justify-content: center;

                li {
                    a {
                        margin-left: 20px;
                        text-transform: capitalize;
                        font-size: 18px;
                        transition: 0.3s;
                        color: #fff;
                        transition: 0.3s;

                        &:hover {
                            color: #777;
                        }
                    }
                }
            }
        }
    }
}